/* Custom CSS for sections */
#about-me, #projects, #contact-me {
    padding: 20px;
    margin: 20px 0;
  }
  
  h1, h2 {
    color: #333;
  }

/* Custom CSS for GitHub projects */
#github-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .project {
    border: 1px solid #ddd;
    padding: 15px;
    width: 100%;
    max-width: 300px;
  }
  
  .project h2 {
    font-size: 1.5em;
  }
  
  .project p {
    font-size: 1em;
  }
  
  .project a {
    color: #0366d6;
    text-decoration: none;
  }
  